# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller artifacts
build/
dist/
*.spec

# Virtual environments
env/
venv/
.venv/

# Output and logs
output/
*.log

# System files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/
